**Домашнее задание к лекции**.

**Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

**Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

**Задание 3 (бонусное)**
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга


**Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.**

In [1]:
import pandas as pd

In [9]:
# Задание 1
ratings = pd.read_csv("/Users/Stanislav/Desktop/ml-25m/ratings.csv")

In [13]:
def movie_class(rate):
    if rate <= 2:
        return "low" 
    elif rate <= 4:
        return "middle" 
    else: return "high"

In [114]:
ratings['class'] = ratings['rating'].apply(movie_class)

ratings.head(10)

,userId,movieId,rating,timestamp,title,genres,year,class
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994,high
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,1994,middle
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,1993,high
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War,1995,high
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance,1952,middle
5,1,1088,4.0,1147868495,Dirty Dancing (1987),Drama|Musical|Romance,1987,middle
6,1,1175,3.5,1147868826,Delicatessen (1991),Comedy|Drama|Romance,1991,middle
7,1,1217,3.5,1147878326,Ran (1985),Drama|War,1985,middle
8,1,1237,5.0,1147868839,"Seventh Seal, The (Sjunde inseglet, Det) (1957)",Drama,1957,high
9,1,1250,4.0,1147868414,"Bridge on the River Kwai, The (1957)",Adventure|Drama|War,1957,middle

In [18]:
# Задание 2 
kw = pd.read_csv("keywords.csv")

In [29]:
def geo_tag(keyword):
    geo_data = {
                'Центр': ['москва', 'тула', 'ярославль'],
                'Северо-Запад': ['петербург', 'псков', 'мурманск'],
                'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
                } 
    for region, cities in geo_data.items():
        for city in cities:
            if city in keyword:
                return region
            else: return "undefined"

In [38]:
kw['region'] = kw['keyword'].apply(geo_tag)
kw.sort_values('region', ascending=False).head(10)

                                                 keyword   shows region
1482                                    госуслуги москва  133061  Центр
74372                                       москва 3 рим    5057  Центр
78820  садовод рынок москва цены на товары каталог 20...    4511  Центр
7103                                         москва сити   37022  Центр
38984     программа передач на сегодня все каналы москва    8695  Центр
90369                                    синоптик москва    4040  Центр
74724                                       москва минск    6023  Центр
88874           гостиница космос москва официальный сайт    5348  Центр
5983                                   москва третий рим   43182  Центр
70611                       москва 24 онлайн прямой эфир    5055  Центр

In [110]:
# Задание 3
ratings = pd.read_csv("/Users/Stanislav/Desktop/ml-25m/ratings.csv")
movies = pd.read_csv('/Users/Stanislav/Desktop/ml-25m//movies.csv')
ratings = ratings.merge(movies, on='movieId', how='left')
years = [str(x) for x in range(1950,2011,1)]

In [111]:
def production_year(title, years):
    for year in years:
        if year in title:
            return year
        
    return '1900'

In [113]:
ratings['year'] = ratings['title'].apply(production_year, years = years)
(ratings
 .groupby('year')
     .mean()['rating']
     .sort_values(ascending=False)
 .head(10)
)

year
1957    3.999492
1954    3.985693
1972    3.956477
1962    3.929445
1952    3.895315
1974    3.891385
1975    3.883071
1964    3.879177
1951    3.876258
1950    3.846525
Name: rating, dtype: float64